<!DOCTYPE html>
<html>
  <head>
    <title>FitnessJudge(frontend)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_pack_tag "frontend", media: "all" %>
  </head>

  <body>
    <div class="frontend-layout">
      <header class="frontend-layout__header">
        <%= render "layouts/frontend/header" %>
      </header>


      <div class="frontend-layout__body">
        <div class="container">
          <%= yield %>
        </div>

        <div class="side-menu">
          <%= render "layouts/frontend/side_menu" %>
        </div>
      </div>
    </div>

    <%= javascript_pack_tag "frontend" %>
  </body>
</html>
